/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Droid Serif', serif;
*/

/*Dodatkowy OPIS do projektu:
Fonty:
•  DroidSerif Italic - wszystkie teksty pochyłą czcionką
•  Montserrat - menu, nagłówki i buttony
•  RobotoSlab - pozostały tekst
Kolory:
•  Niebiesko-błękitny - buttony, hover - #0ed8d6
•  Font - Nagłówki - #333333
•  Font - pozostały tekst - #777777
•  Tło sekcji portfolio - #f7f7f7
•  Ikony social media - #222222
Grafiki do projektu dostępne są pod linkiem:
•  https://akademia108.pl/kurs-front-end/bootstrap-project-photos.zip
Zadanie domowe wykonujemy przy użyciu GitHub Pages.*/

.navbar-brand {
    font-family: 'Droid Serif', serif;
    color: #fff;
}
#menu {
    background-color: aqua;
       
}

#menu * {
    color: #fff;
}

#nav-menu li a {
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
}

header {
    background-image: url(../img/header/pictures_on_the_wall.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
}